# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
h_hereditary_s_club/CMakeLists.txt
r_robust_s_club/Makefile
*.sbatch
h_hereditary_s_club/Makefile
r_robust_s_club/CMakeLists.txt
*.iml
*.xml
*.cmake
*.csv
r_robust_s_club/cmake-build-debug/Makefile
h_hereditary_s_club/cmake-build-debug/CMakeCache.txt
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
h_hereditary_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
h_hereditary_s_club/cmake-build-debug/CMakeFiles/clion-environment.txt
h_hereditary_s_club/cmake-build-debug/CMakeFiles/clion-log.txt
h_hereditary_s_club/cmake-build-debug/CMakeFiles/cmake.check_cache
h_hereditary_s_club/cmake-build-debug/CMakeFiles/CMakeOutput.log
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/build.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/common.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/CXX.includecache
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/depend.internal
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/depend.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/flags.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/graph.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/link.txt
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/main.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/model.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/progress.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/rho.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_club.dir/solution.cpp.o
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_clubs.dir/build.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_clubs.dir/depend.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_clubs.dir/flags.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_clubs.dir/link.txt
h_hereditary_s_club/cmake-build-debug/CMakeFiles/h_hereditary_s_clubs.dir/progress.make
h_hereditary_s_club/cmake-build-debug/CMakeFiles/Makefile2
h_hereditary_s_club/cmake-build-debug/CMakeFiles/progress.marks
h_hereditary_s_club/cmake-build-debug/CMakeFiles/TargetDirectories.txt
h_hereditary_s_club/cmake-build-debug/h_hereditary_s_club
h_hereditary_s_club/cmake-build-debug/h_hereditary_s_club.cbp
h_hereditary_s_club/cmake-build-debug/h_hereditary_s_clubs.cbp
h_hereditary_s_club/cmake-build-debug/Makefile
r_robust_s_club/cmake-build-debug/CMakeCache.txt
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
r_robust_s_club/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
r_robust_s_club/cmake-build-debug/CMakeFiles/clion-environment.txt
r_robust_s_club/cmake-build-debug/CMakeFiles/clion-log.txt
r_robust_s_club/cmake-build-debug/CMakeFiles/cmake.check_cache
r_robust_s_club/cmake-build-debug/CMakeFiles/CMakeOutput.log
r_robust_s_club/cmake-build-debug/CMakeFiles/Makefile2
r_robust_s_club/cmake-build-debug/CMakeFiles/progress.marks
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/build.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/common.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/CXX.includecache
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/depend.internal
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/depend.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/flags.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/graph.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/link.txt
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/main.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/model.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/progress.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/rho.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_club.dir/solution.cpp.o
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_clubs.dir/build.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_clubs.dir/depend.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_clubs.dir/flags.make
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_clubs.dir/link.txt
r_robust_s_club/cmake-build-debug/CMakeFiles/r_robust_s_clubs.dir/progress.make
r_robust_s_club/cmake-build-debug/CMakeFiles/TargetDirectories.txt
r_robust_s_club/cmake-build-debug/r_robust_s_club
r_robust_s_club/cmake-build-debug/r_robust_s_club.cbp
r_robust_s_club/cmake-build-debug/r_robust_s_clubs.cbp
Dataset/.DS_Store
r_robust_s_club/data/.DS_Store
.DS_Store
